**/.DS_Store
.DS_Store
qt/debug/
qt/release/
qt/QtCelerityViewer.app
qt/htmlsnap/htmlsnap
qt/QtCelerityViewer.xcodeproj/
qt/qtc-gdbmacros/Makefile
qt/qtc-gdbmacros/Makefile.Debug
qt/qtc-gdbmacros/Makefile.Release
qt/Makefile
qt/Makefile.Debug
qt/Makefile.Release
qt/QtCelerityViewer.pro.user
qt/*.o
qt/moc*
qt/lib/qjson/build
qt/lib/libqjson.a
jruby-swt/classes
